fastapi
pandas
numpy
scikit-learn
uvicorn
anyio
click
colorama
contourpy
cycler
DateTime
exceptiongrou
fastapi
fonttools
h11
idna
joblib
kiwisolver
matplotlib
packaging
Pillow
pydantic
pyparsing
python-dateutil
pytz
scipy
seaborn
six
sniffio
starlette
threadpoolctl
typing_extensions
tzdata
zope.interface
nltk