fastapi
pandas
numpy
scikit-learn
uvicorn
anyio
click
colorama
contourpy
cycler
DateTime
fonttool
idna
joblib
kiwisolver
matplotlib
packaging
Pillow
pydantic
pyparsing
python-dateutil
pytz
scipy
seaborn
six
sniffio
starlette
threadpoolctl
typing_extensions
